<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% extends 'index.html' %}
    {%block title%}
    <title>Document</title>
    {%endblock%}
</head>
<body class="bg-light">
    {%block content%}
    <div class="container mt-4">
    <h1 class="text-center">Listado de libros</h1>
    <table class="table table-bordered table-hover align-middle">
        <thead class="table-primary text-center">
            <th>Titulo</th>
            <th>Codigo</th>
            <th>Autor</th>
        </thead>
        <tbody>
            {% for bo in books %}
                <tr>
                <td class="text-center">{{ bo.title }} </td>
                <td class="text-center">{{ bo.cod }}</td>
                <td class="text-center">{% for au in bo.author.all %}
                {{au}}
                {% endfor %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {%endblock%}
</body>
</html>